/* body{
    background: whitesmoke;
    overflow-x: hidden;
} */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
.universite{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 35%;
}
/* .universite h2{
    font-size: 18px;
} */
img{
    width: 100px;
    /* margin-left: 0; */
    float: left;
    margin-right: 50%;
}
.date{
    margin-right: 5%;
    margin-top:3% ;
    font-size: 20px;
    font-weight: bold;
    float: right;
}
/* .titre h1{
    text-align: center;
} */
.service{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.service .title{
    font-size: 18px;
    margin-left: 20px;
}
.service .title span{
    font-weight: bold;
}
.service .compte{
    margin-right: 14%;
    margin-top:3% ;
    font-size: 18px;
    font-weight: bold;
    float: right;
}
.gestion{
    font-size: 18px;
    margin-left: 20px;
}
.gestion span{
    font-weight: bold;
}
.beneficier{
    margin-top: 50px;
    margin-left: 20px;
}
 table {
    width: 90%;
    border-collapse: collapse;
    margin: 15px;
}
th {
    background-color: #f0f0f0;
    text-align: left;
    padding: 5px;
    border: 1px solid #ddd;
}

td {
    text-align: left;
    padding: 5px;
    border: 1px solid #ddd;
}
/* tfoot td.foot {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
} */
.prix{
    margin-top: 3%;
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
}
.signature{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.visa{
    float: left;
    text-decoration: underline;
    margin: 50px;
}
.ordonnateur{
    float: right;
    text-decoration: underline;
    margin: 50px;
}
/* .ordonnateur .contenu, .signature .contenu{
    width: 500px;
    height: 200px;
    background: white;
} */